<html>
<head>
<title>DevOnSite</title>
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>
<body>

<div id="hdr_nav">
<a href="./home.html"><b>DevOnSite</b></a>
&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp 
&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  
<a href="Signin.html">Sign in</a>
<a href="Signup.html">Sign up</a>
<a href="form.html">News</a>
<a href="form.html">Blog</a>
</div>

<div id="hd_title">
<h1><b>Learn to code free</b></h1>
</div>

<hr>

<h2 style="text-align:center;color:#8a8a5c;font-size:40px;">Learn powerfull skills</h2>
<div class="gallery">
   <figure class="gallery_item-1">
      <a href="./html5/html5.html"><img src="html.jpeg" class="gallry_img"></img>
   </figure>
   <figure class="gallery_item-2">
      <a href="./css3/css3.html"><img src="css.jpeg" class="gallry_img"></img></a>>
   </figure>
   <figure class="gallery_item-3">
      <a href="./anglr"><img src="anglr.jpeg" class="gallry_img"></img></a>
   </figure>
   <figure class="gallery_item-4">
      <a href="./nodes"><img src="node.jpeg" class="gallry_img"></img></a>
   </figure>
   <figure class="gallery_item-5">
      <a href="./reacts"><img src="react.jpeg" class="gallry_img"></img></a>
   </figure>
   <figure class="gallery_item-6">
      <a href="./js"><img src="js.jpeg" class="gallry_img"></img></a>
   </figure>
</div>

</body>
</html>