<html>
  <head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="side-style.css" />
  </head>
  <body>
    <div id="sidebar">
      <a href="" css_home.html>CSS Home</a><br />
      <a href="" css_home.html>CSS Home</a>
      <a href="" css_home.html>CSS Home</a>
      <a href="" css_home.html>CSS Home</a>
      <a href="" css_home.html>CSS Home</a>
      <a href="" css_home.html>CSS Home</a>
      <a href="" css_home.html>CSS Home</a>
      <a href="" css_home.html>CSS Home</a>
      <a href="" css_home.html>CSS Home</a>
      <a href="" css_home.html>CSS Home</a>
      <a href="" css_home.html>CSS Home</a>
      <a href="" css_home.html>CSS Home</a>
      <a href="" css_home.html>CSS Home</a>
      <a href="" css_home.html>CSS Home</a>
      <a href="" css_home.html>CSS Home</a>
      <a href="" css_home.html>CSS Home</a>
      <a href="" css_home.html>CSS Home</a>
      <a href="" css_home.html>CSS Home</a>
      <a href="" css_home.html>CSS Home</a>
      <a href="" css_home.html>CSS Home</a>
      <a href="" css_home.html>CSS Home</a>
      <a href="" css_home.html>CSS Home</a>
      <a href="" css_home.html>CSS Home</a>
    </div>
  </body>
</html>
