<html>
  <head>
    <title>HTML Home</title>

    <link rel="stylesheet" type="text/css" href="side-style.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  </head>
  <body>
    <div id="hdr_nav">
      <a href="../home.html"><b>DevOnSite</b></a>
      &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
      &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
      &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
      &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
      &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
      &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
      &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
      &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
      &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
      &nbsp
      <a href="Signin.html">Sign in</a>
<a href="Signup.html">Sign up</a>
<a href="form.html">News</a>
<a href="form.html">Sign in</a>
    </div>
	<div style="width:20%;height:100%;float:left;">
		<ul>
			<li><a href="html5.html">HTML Introduction</a></li>
			<li><a href="htmlbasic.html">HTML Basic</a></li>
			<li><a href="">HTML Elements</a></li>
			<li><a href="">HTML Attributes</a></li>
			<li><a href="">HTML Headings</a></li>
			<li><a href="">HTML Paragraph</a></li>
			<li><a href="">HTML Formatting</a></li>
			<li><a href="">HTML Quotations</a></li>
			<li><a href="">HTML Colors</a></li>
			<li><a href="" >HTML Links</a></li>
			<li><a href="" >HTML Images</a></li>
			<li><a href="" >HTML Table</a></li>
			<li><a href="" >HTML List</a></li>
			<li><a href="" >HTML Blocks</a></li>
			<li><a href="" >HTML Classes</a></li>
			<li><a href="" >HTMLId</a></li>
			<li><a href="" >HTML Iframe</a></li>
			<li><a href="" >HTML Forms</a></li>
			<li><a href="" >HTML Form Input Type</a></li>
			
		</ul>
	</div>
	<div style="width:80%;float:right;height:100%">
	 <h1>HTML Home</h1>
     <br>
<p>     With HTML you can create your own Website.
     <br>
This tutorial teaches you everything about HTML.
<br>
HTML is easy to learn - You will enjoy it.
<br>
</p>
<h2>What is HTML?</h2><br>
<p>
        HTML is the standard markup language for creating Web pages.
        <br>
        HTML stands for Hyper Text Markup Language<br>
        HTML describes the structure of Web pages using markup<br>
        HTML elements are the building blocks of HTML pages<br>
        HTML elements are represented by tags<br>
        HTML tags label pieces of content such as "heading", "paragraph", "table", and so on<br>
        Browsers do not display the HTML tags, but use them to render the content of the page<br>
    </p>
<h2>Examples in Every Chapter</h2>
<p>
    This HTML tutorial contains hundreds of HTML examples.
<br>
With our online HTML editor, you can edit the HTML, and click on a button to view the result.
<br>
</p>


     <div class="jumbotron">
		<h3 class="display-4">Example</h3>
			<p class="lead">
                &lt!DOCTYPE html&gt<br>
                &lthtml&gt<br>
                &lthead&gt<br>
                &lttitle&gt Page Title&lt/title &gt<br>
                &lt/head &gt<br>
                &ltbody&gt <br>
                
                &lth1&gt This is a Heading &lt h1 &gt<br>
                &ltp&gt This is a paragraph.
                    <br>
                    &lt/p&gt<br>
                    &lt/body&gt<br>
                    &lt/html&gt	<br>
			</p>
</div>
<h2>HTML Reference</h2>
At W3Schools you will find complete references about tags, attributes, events, color names, entities, character-sets, <br>URL encoding, language codes, HTTP messages, and more.
  </body>
</html>
