<html>
  <head>
    <title>HTML Basic</title>

    <link rel="stylesheet" type="text/css" href="side-style.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  </head>
  <body>
    <div id="hdr_nav">
      <a href="../home.html"><b>DevOnSite</b></a>
      &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
      &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
      &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
      &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
      &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
      &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
      &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
      &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
      &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
      &nbsp
      <a href="curriculum.html">Curriculum</a>
      <a href="form.html">Forum</a>
      <a href="form.html">News</a>
      <a href="form.html">Sign in</a>
    </div>
	<div style="width:20%;height:100%;float:left;">
		<ul>
			<li><a href="html5.html">HTML Introduction</a></li>
			<li><a href="htmlbasic.html">HTML Basic</a></li>
			<li><a href="">HTML Elements</a></li>
			<li><a href="">HTML Attributes</a></li>
			<li><a href="">HTML Headings</a></li>
			<li><a href="">HTML Paragraph</a></li>
			<li><a href="">HTML Formatting</a></li>
			<li><a href="">HTML Quotations</a></li>
			<li><a href="">HTML Colors</a></li>
			<li><a href="" >HTML Links</a></li>
			<li><a href="" >HTML Images</a></li>
			<li><a href="" >HTML Table</a></li>
			<li><a href="" >HTML List</a></li>
			<li><a href="" >HTML Blocks</a></li>
			<li><a href="" >HTML Classes</a></li>
			<li><a href="" >HTMLId</a></li>
			<li><a href="" >HTML Iframe</a></li>
			<li><a href="" >HTML Forms</a></li>
			<li><a href="" >HTML Form Input Type</a></li>
			
		</ul>
	</div>
	<div style="width:80%;float:right;height:100%">
	 <h1>HTML Basic</h1>
     <br>
<h2>HTML Documents</h2><br>
<p>
    All HTML documents must start with a document type declaration: &lt!DOCTYPE html&gt.
    <br>
    The HTML document itself begins with &lthtml&gt and ends with &lt/html&gt.
    <br>
    The visible part of the HTML document is between &ltbody&gt and &lt/body&gt.
    <br>  
  </p>
<h2> HTML Heading</h2><br>
<p>
    HTML headings are defined with the &lth1&gt to &lth6&gt tags.

        &lth1&gt defines the most important heading. &lth6&gt defines the least important heading: 

</p>



     <div class="jumbotron">
		<h3 class="display-4">Example</h3>
			<p class="lead">
        #Try it in your broser<br>
                &lt!DOCTYPE html&gt<br>
                &lthtml&gt<br>
                &lthead&gt<br>
                &lttitle&gt Page Title&lt/title &gt<br>
                &lt/head &gt<br>
                &ltbody&gt <br>                
                &lth1&gt This is a Heading1 &lt /h1 &gt<br>
                &lth2&gt This is a Heading2 &lt /h2 &gt<br>
                &lth3&gt This is a Heading3 &lt /h3 &gt<br>
                    
                    &lt/p&gt<br>
                    &lt/body&gt<br>
                    &lt/html&gt	<br>
			</p>
</div>
<h2>HTML Paragraph</h2><br>
<p>
    HTML paragraphs are defined with the &ltp&gt tag
  </p>
  <div class="jumbotron">
      <h3 class="display-4">Example</h3>
        <p class="lead">
          #Try it in your broser<br>
                  &ltp&gt This is a HTML Paragraph &lt/p&gt<br>
                    
                </p>
  </div>
  <h2>HTML Lists</h2>
  <p>

      HTML lists are defined with the &ltul&gt (unordered/bullet list) or the &ltol&gt (ordered/numbered list) tag, 
      <br>followed by &ltli&gt tags (list items):
  </p>
  
  <div class="jumbotron">
      <h3 class="display-4">Example</h3>
        <p class="lead">
          #Try it in your broser<br>
                  &ltli&gt Element 1 &lt/li&gt<br>
                  &ltli&gt Element 2 &lt/li&gt<br>
                  &ltli&gt Element 3 &lt/li&gt<br>
                </p>
  </div>
  </body>
</html>
