<html>
  <head>
    <title>CSS</title>

    <link rel="stylesheet" type="text/css" href="side-style.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  </head>
  <body>
    <div id="hdr_nav">
      <a href="../home.html"><b>DevOnSite</b></a>
      &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
      &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
      &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
      &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
      &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
      &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
      &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
      &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
      &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
      &nbsp
      <a href="Signin.html">Sign in</a>
<a href="Signup.html">Sign up</a>
<a href="form.html">News</a>
<a href="form.html">Sign in</a>
    </div>
	<div style="width:20%;height:100%;float:left;">
		<ul>
			<li><a href="cssintro.html">CSS Introduction</a></li>
			<li><a href="csssyntax.html">CSS Syntax</a></li>
			<li><a href="">CSS How to</a></li>
			<li><a href="">CSS Colors</a></li>
			<li><a href="">CSS Background</a></li>
			<li><a href="">CSS Borders</a></li>
			<li><a href="">CSS Margin</a></li>
			<li><a href="">CSS Padding</a></li>
			<li><a href="">CSS Texts</a></li>
			<li><a href="">CSS Icon</a></li>
			<li><a href="" css_home.html>CSS Font</a></li>
			<li><a href="" css_home.html>CSS Link</a></li>
			<li><a href="" css_home.html>CSS Table</a></li>
			<li><a href="" css_home.html>CSS Display</a></li>
			<li><a href="" css_home.html>CSS Position</a></li>
			<li><a href="" css_home.html>CSS Overflow</a></li>
			<li><a href="" css_home.html>CSS Opacity</a></li>
			<li><a href="" css_home.html>CSS Pagination</a></li>
			<li><a href="" css_home.html>CSS Variables</a></li>
			<li><a href="" css_home.html>CSS Animations</a></li>
			<li><a href="" css_home.html>CSS Buttons</a></li>
			<li><a href="" css_home.html>CSS Tooltips</a></li>
		</ul>
	</div>
	<div style="width:80%;float:right;height:100%">
	 <h1>CSS Home</h1>
	 <p>
	 <h2>Examples in Each Chapter</h2>
     This CSS tutorial contains hundreds of CSS examples.
    With our online editor, you can edit the CSS, and click on a button to view the result.<br><br><br>
	<p><h2>What is CSS?<br></h2>
	CSS stands for Cascading Style Sheets<br>
CSS describes how HTML elements are to be displayed on screen, paper, or in other media<br>
CSS saves a lot of work. It can control the layout of multiple web pages all at once<br>
External stylesheets are stored in CSS files<br><br><br>
	</p>
	<p><h2>Why Use CSS?</h2>
	CSS is used to define styles for your web pages, including the design, layout and variations in display for different devices and screen sizes. 
	</p>

	</p>
     <div class="jumbotron">
		<h3 class="display-4">Hello, world!</h3>
			<p class="lead">body {<br>
				background-color: lightblue;<br>
				}<br>

				h1 {<br>
				color: white;<br>
				text-align: center;<br>
					}	<br>

				p {<br>
				font-family: verdana;<br>
				font-size: 20px;<br>
				}</p>

	</div>
	</div>
  </body>
</html>
