<html>
<head>
<title>DevOnSite</title>
<link rel="stylesheet" type="text/css" href="style.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>
<body>

<div id="hdr_nav">
<a href="./home.html"><b>DevOnSite</b></a>
&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp 
&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  
<a href="Signin.html">Sign in</a>
<a href="Signup.html">Sign up</a>
<a href="form.html">News</a>
<a href="form.html">Blog</a>
</div>
<div id="hd_title">
<h1><b>Learn to code free</b></h1>
</div>

<div id="jumbotron">
        <form method="POST" action="/signin">
            Username:&nbsp;
            <input id="username" class="input" type="text" name="username" placeholder="Username..">
            <br>
            Password:&nbsp;
            <input id="password" class="input" type="password" name="password" placeholder="Password..">
            <br><br>
            <input id="submit1" type="submit">
        </form> 
</div>

</body>
</html>